html, body {
    height: 100%;
    padding: 0;
    margin: 0;
}

/*** Website Header ***/
.website-header-container{
    position: relative;
    display: flex;
    gap: 60%;
}

.website-header-left-container {
    display: inline;
    position: relative;

    justify-content: flex-start;
}

.website-header-right-container {
    display: inline;
    position: relative;

    justify-content: flex-end;
}


/*** Icon Images and Related Buttons in Website Header ***/
#main-logo-image {
    width: 4.5vw;
    margin: 3.3vw;
}

#shopping-bag-image {
    width: 2.8vw;
    margin-top: 4.3vw;
    margin-left: 12.5vw;
}

#user-icon-image {
    width: 2.6vw;
    margin-top: 4.3vw;
    margin-left: 1.5vw;
}


/*** Side Menu ***/
.side-menu {
    position: relative;
    display: flex;
}

#side-menu-icon-image {
    width: 3.8vw;
    margin-top: 0.7vw;
    margin-left: 0.1vw;
}

.side-menu-button {
    top: -8.2vw;
    left: 92vw;

    display: inline-block;
    position: absolute;

    border: none;

    background-color: white;
}

#side-menu-content {
    left: 3.5vw;

    display: none;
    position: relative;

    background-color: white;
}

#side-menu-content a {
    width: 95%;
    height: auto;

    position: relative;

    font-size: 2.3vw;
    color: black;
    text-decoration: none;
}

#side-menu-content hr {
    width: 93vw;
    height: 1px;
    margin-left: auto;
    margin-right: auto;

    color: black;
}

.show {
    display: block;
}


/*** Section Hierarchy ***/
.section-hierarchy-container {
    border-top: solid rgb(230, 230, 230);
    padding-top: 3.3vw;
    padding-left: 3vw;
}

.section-hierarchy-home-link {
    color: rgb(70, 100, 255);

    text-decoration: none;
    font-size: 1.9vw;
}

.section-hierarchy-current-page-text {
    font-size: 1.9vw;
}


/*** Login Panel ***/
.login-panel-container {
    width: 65%;
    height: 46.2vw;
    margin-top: 2.8vw;
    margin-left: auto;
    margin-right: auto;

    display: block;
    position: relative;

    background-color: rgb(255, 255, 255);
    border-radius: 0.7vw;

    /* Black shadow blur */
    filter: drop-shadow(0 0 24px rgb(200, 200, 200));
}

#login-panel-header-text {
    margin-top: 5vw;
    margin-left: 27.5vw;

    position: absolute;

    font-size: 4.3vw;
    color: rgb(60, 60, 60);
}

.login-panel-container row {
    content: "";
    display: table;
    clear: both;
}

.row hr {
    width: 79%;
    margin-top: 1.5vw;
    margin-left: auto;
    margin-right: auto;

    color: rgb(150, 150, 150);
}

.login-panel-text-field {
    padding-top: 13vw;
    margin-left: 5.5vw;
}

#email-text-column, #password-column {
    width: 83%;
    height: 5.8vw;
    margin-left: auto;
    margin-right: auto;

    border: 1px solid rgb(180, 180, 180);
    border-radius: 0.7vw;
    resize: none;

    text-indent: 1.4vw;
    color: rgb(60, 60, 60);
}

#email-text-column {
    top: 5vw;
    left: 10vw;
}

#password-column {
    margin-top: 2.7vw;
}

#email-text-column::placeholder, #password-column::placeholder{    
    font-size: 2vw;
    color: rgb(160, 160, 160);
}

#login-submit-button {
    margin-top: -0.8vw;
    width: 83%;
    height: 6.3vw;
    margin-left: auto;
    margin-right: auto;

    border-radius: 0.4vw;
    border-style: none;

    font-size: 2vw;
    color: rgb(255, 255, 255);
    background-color: rgb(60, 60, 60);
}

#login-submit-button:hover {
    background-color: rgb(21, 94, 69);
}

.login-panel-option {
    padding-top: 1.3vw;

    display: inline-block;
        
    font-size: 2vw;
}

.login-panel-option a {
    text-decoration: none;
}

#create-account-text {
    padding-left: 13vw;

    color: rgb(70, 100, 255);
    font-size: 1.9vw;
}

#forgot-password-text {
    padding-left: 2vw;

    font-size: 1.9vw;
}

#reset-password-link {
    color: rgb(0, 0, 0);
}


/*** Input Validation ***/
#emailError {
    display: none;
    font-size: 1.9vw;
}

#emailError.visible {
    display: block;
}

input.invalid {
    color: rgb(255, 0, 0);
}


/*** Website Footer ***/
.website-footer-container {
    width: auto;
    height: 13.3% auto;
    
    background-color: rgb(245, 245, 245);
    border-top: solid rgb(230, 230, 230);

    text-align: center;
}


/*** Website Footer Image and Related Fonts ***/
.website-footer-logo {
    width: 5.3%;
    margin-top: 2.5%;

    display: inline-block;
}

.website-footer-copyright-text {
    font-size: 1.72vw;
    font-weight: 400;
    color: rgb(100, 100, 100);
}
