<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>An Amazing EverShop Store</title>
    <link
      rel="stylesheet"
      href="/Users/jianminglin/Desktop/evershop-website-copy-rep/css/home-stylesheet.css"
    />

    <!--Bootstrap-->
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9"
      crossorigin="anonymous"
    />
  </head>

  <body>
    <script src="/Users/jianminglin/Desktop/evershop-website-copy-rep/js/index.js"></script>

    <!--Bootstrap-->
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm"
      crossorigin="anonymous"
    ></script>

    <!--Website Header-->
    <div class="website-header-container">
      <div class="website-header-left-container">
        <a
          href="file:///Users/jianminglin/Desktop/evershop-website-copy-rep/templates/home.html"
          ><img
            id="main-logo-image"
            src="/Users/jianminglin/Desktop/evershop-website-copy-rep/img/evershop-logo-img.png"
            alt="Evershop Logo"
        /></a>
      </div>

      <div class="website-header-right-container">
        <a
          href="file:///Users/jianminglin/Desktop/evershop-website-copy-rep/templates/shoppingcart.html"
          ><img
            id="shopping-bag-image"
            src="/Users/jianminglin/Desktop/evershop-website-copy-rep/img/shopping-bag-img.png"
            alt="Shopping-bag Icon"
        /></a>

        <a
          href="file:///Users/jianminglin/Desktop/evershop-website-copy-rep/templates/userlogin.html"
          ><img
            id="user-icon-image"
            src="/Users/jianminglin/Desktop/evershop-website-copy-rep/img/user-icon-img.png"
            alt="User Icon"
        /></a>
      </div>
    </div>

    <!--Side Menu-->
    <div class="side-menu">
      <button class="side-menu-button" onclick="openSideMenu()">
        <img
          id="side-menu-icon-image"
          src="/Users/jianminglin/Desktop/evershop-website-copy-rep/img/side-menu-icon-img.png"
          alt="Side menu icon"
        />
      </button>
      <div id="side-menu-content">
        <a href="https://demo.evershop.io/men">Men</a>
        <br />
        <hr />
        <a href="https://demo.evershop.io/women">Women</a>
        <br />
        <hr />
      </div>
    </div>

    <!--Discount-->
    <div class="discount-image-container">
      <img
        id="discount-image"
        src="/Users/jianminglin/Desktop/evershop-website-copy-rep/img/shoes1-img.jpg"
        alt="Shoes 1 Image"
      />
      <p>
        <span class="discount-header-text discount-text-style"
          ><b>Discount 20% For All Orders Over $2300</b></span
        >
        <span class="discount-normal-text-one discount-text-style"
          >Use coupon code <b>DISCOUNT23</b></span
        >
        <span class="discount-normal-text-two discount-text-style"
          >Use coupon DISCOUNT23</span
        >
      </p>
    </div>

    <!--Cover One-->
    <div class="cover-image-container">
      <img
        class="brlarge"
        id="cover-image"
        src="/Users/jianminglin/Desktop/evershop-website-copy-rep/img/man-with-shoes-img.jpg"
        alt="Cover Image: sitting man wearing shoes"
      />
      <p>
        <span class="cover-header-text cover-text-style-one brlarge"
          ><b>MEN SHOES COLLECTION</b></span
        >
        <span class="cover-text-style-two"
          >Constructed from luxury nylons, leathers, and custom hardware,
          featuring sport details such as hidden breathing vents, waterproof +
          antimicrobial linings, and more.</span
        >
      </p>

      <form action="https://demo.evershop.io/men">
        <button class="shop-button" type="submit"><b>SHOP MEN</b></button>
      </form>
    </div>

    <br />

    <!--Cover Two-->
    <div class="cover-image-container">
      <img
        class="brlarge"
        id="cover-image"
        src="/Users/jianminglin/Desktop/evershop-website-copy-rep/img/woman-with-shoes-img.jpg"
        alt="Cover Image: sitting woman wearing shoes"
      />
      <p>
        <span class="cover-header-text cover-text-style-one brlarge"
          ><b>WOMEN SHOES COLLECTION</b></span
        >
        <span class="cover-text-style-two"
          >Constructed from luxury nylons, leathers, and custom hardware,
          featuring sport details such as hidden breathing vents, waterproof +
          antimicrobial linings, and more.</span
        >
      </p>

      <form action="https://demo.evershop.io/women">
        <button class="shop-button" type="submit">
          <b>SHOP WOMEN</b>
        </button>
      </form>
    </div>

    <div>
      <br />
      <br />
      <br />
    </div>

    <!--Website Footer-->
    <div class="website-footer-container">
      <img
        class="website-footer-logo"
        src="/Users/jianminglin/Desktop/evershop-website-copy-rep/img/visa-logo-img.png"
        alt="Visa Logo"
      />
      &thinsp;
      <img
        class="website-footer-logo"
        src="/Users/jianminglin/Desktop/evershop-website-copy-rep/img/mastercard-logo-img.png"
        alt="Mastercard Logo"
      />
      &thinsp;
      <img
        class="website-footer-logo"
        src="/Users/jianminglin/Desktop/evershop-website-copy-rep/img/paypal-logo-img.png"
        alt="Paypal Logo"
      />
      <br />
      <br />
      <span class="website-footer-copyright-text"
        >Copyright © 2023 EverShop</span
      >
      <br />
      <br />
    </div>
  </body>
</html>
